---
import Header from "../components/Header.astro";
import Title from "../components/Title.astro";
import "../style/global.css";
---

<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter&family=Source+Code+Pro&family=Tektur&display=swap"
			rel="stylesheet"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cyberpunk</title>
	</head>
	<body>
		<header>
			<Header />
		</header>
		<section>
			<Title />
		</section>
		<footer></footer>
	</body>
</html>

<!--<div class="topBanner">
			<TopBanner />
			<div class="icones">
				<Icon name="entypo-social:instagram" class="size-Icon" />
				<Icon name="entypo-social:facebook" class="size-Icon" />
				<Icon name="entypo-social:twitter" class="size-Icon" />
				<Icon name="entypo-social:vk" class="size-Icon" />
				<Icon name="entypo-social:youtube" class="size-Icon" />
				<Icon name="logos:twitch" class="size-Icon" />
			</div>
		</div>
		-->
