---
import "../style/global.css";
import TopBanner from "../components/TopBanner.astro";
import HeaderBackGround from "../components/HeaderBackGround.astro";
import Banner from "../components/Banner.astro";
import ButtonMoreInfo from "../components/ButtonMoreInfo.astro";
import Description from "../components/Description.astro";
import Promotion from "../components/Promotion.astro";
import Advertising from "../components/Advertising.astro";
import GameBuy from "../components/GameBuy.astro";
import Footer from "../components/Footer.astro";
import Screenshots from "../components/screenshots.astro";
import { Icon } from "astro-icon";
---

<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter&family=Source+Code+Pro&family=Tektur&display=swap"
			rel="stylesheet"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cyberpunk</title>
	</head>
	<body>
		<div class="topBanner">
			<TopBanner />
			<div class="icones">
				<Icon name="entypo-social:instagram" class="size-Icon" />
				<Icon name="entypo-social:facebook" class="size-Icon" />
				<Icon name="entypo-social:twitter" class="size-Icon" />
				<Icon name="entypo-social:vk" class="size-Icon" />
				<Icon name="entypo-social:youtube" class="size-Icon" />
				<Icon name="logos:twitch" class="size-Icon" />
			</div>
		</div>
		<HeaderBackGround />
		<div class="banner">
			<div class="textLeft">
				<Banner />
			</div>
			<ButtonMoreInfo />
		</div>
		<div class="textBox">
			<div class="blockDescription">
				<Description />
				<Screenshots />
			</div>
		</div>
		<div class="textBoxTwo">
			<div class="separator"></div>
			<div class="blockPromotion">
				<Promotion />
			</div>
		</div>

		<div class="textBoxThree">
			<div class="separator"></div>
			<div class="blockAdvertising">
				<Advertising />
			</div>
		</div>
		<div class="textBoxFour">
			<div class="separator"></div>
			<div class="blockGameBuy">
				<GameBuy />
			</div>
		</div>
		<div class="footerBox">
			<div class="blockFooter">
				<Footer />
			</div>
		</div>
	</body>
</html>
