button {
    color: yellow;
    border-radius: 4px;
    background-color: black;
    font-size: 30px;
    font-weight: bold;
    border: none;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Inter', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Tektur', cursive;
    transition: 0.5s;
}
button:hover{
    transform: 0.5s;
    color: black;
    background-color: yellow;
}
