html {
    scroll-behavior: smooth;
}

body {

    margin: 0;
    background-color: rgb(255, 255, 255);
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Inter', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Tektur', cursive;
    overflow-x: hidden;
}

.size-Icon {
    width: 30px;
    height: 30px;
    padding-left: 40px;
}

.icones {
    padding-right: 320px;
}

@media screen and (max-width:600px) {

    .icones {
        padding-bottom: 40px;
        padding-right: 0;
    }

    .size-Icon {
        padding-left: 10px;
    }
}