---
import "../style/buttonMoreInfo.css";
import Device from "../../public/monitor.png";
import { Icon } from "astro-icon";
---

<main class="monitorAndText">
    <section>
        <div>
            <img src={Device.src} alt="" />
        </div>
    </section>

    <section>
        <div>
            <h1>Полное погружение вместе <br /> с Predator</h1>
            <br />
            <p>
                Погрузись в современные экшен-игры с реалистичным изображением с


                <br />
                 помощью монитора с диагональю 27 дюймов, созданном для <br />
                 отображения максимально насыщенных цветов. Успевай реагировать <br
                />
                 на любые события с временем отклика 1 мс и частотой в 165 Гц!
            </p>
            <ul>
                <ol>
                    <li class="lineText">
                        <Icon
                            name="ic:baseline-palette"
                            class="sizeColorIcon"
                        />
                        <p>Яркие насыщенные цвета</p>
                    </li>
                    <br />
                    <li class="lineText">
                        <Icon name="bi:stars" class="sizeColorIcon" /><p>
                            Кристальная чёткость изображения
                        </p>
                    </li>
                    <br />
                    <li class="lineText">
                        <Icon name="bi:intersect" class="sizeColorIcon" /><p>
                            Быстрые движения и плавный геймплей
                        </p>
                    </li>
                    <br />
                    <button>Подробнее</button>
                </ol>
            </ul>
        </div>
    </section>
</main>
<style>
    .lineText {
        display: flex;
        align-items: center;
    }
    ol {
        list-style-type: none;
    }
    .sizeColorIcon {
        width: 40px;
        height: 40px;
        color: yellow;
        padding-right: 10px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

    img {
        width: 624px;
        height: 430px;
    }

    .monitorAndText {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: start;
        justify-items: start;
        padding-top: 90px;
    }
</style>
