---
import CyberpunkLogo from "../../public/Cyberpunk-2077-Logo.png";
import CD_ProjectRedLogo from "../../public/CD_Projekt_logo 1.png";
---

<div class="itemsLine">
    <img src={CyberpunkLogo.src} alt="CyberPunk logo" class="cybLogo" />
    <img
        src={CD_ProjectRedLogo.src}
        alt="CD project red logo"
        class="projectLogo"
        style="padding-left: 50px;"
    />

    <div class="textLine">
        <h1>Лицензия</h1>
        <h1>Политика конфиденциальности</h1>
    </div>
</div>
<p>CD PROJEKT®, Cyberpunk®, Cyberpunk 2077®</p>

<style>
    .textLine {
        left: 1064px;
        position: absolute;
    }

    .itemsLine {
        display: flex;
        justify-content: flex-start;
        flex-shrink: 0;
        align-items: center;
        flex-direction: row;
    }

    h1 {
        font-size: 18px;
        color: black;
    }

    p{
        text-align: center;
        color: white;
        background-color: black;
    }

    .cybLogo {
        width: 296px;
        height: 74px;
    }

    .projectLogo {
        width: 172.05px;
        height: 74px;
        flex-shrink: 0;
    }
</style>
