---
import Discs from "../../public/disk.png";
import { Icon } from "astro-icon";
---

<main class="DiscsAndText">
    <section>
        <img src={Discs.src} alt="Game discs" />
    </section>
    <section class="Padd">
        <h1>
            Купить игру <br />
             Cyberpunk 2077
        </h1>
        <h2>В компдект входит:</h2>
        <ul>
            <li>Футляр с игровыми дисками</li>
            <br />
            <li>Футляр с кодом для загрузки игры и дисками (pc)</li>
            <br />
            <li>Справочник с информацией об игровом мире</li>
        </ul>
    </section>
</main>

<style>
    .Padd {
        padding: 20px;
    }

    .sizeColorIcon {
        width: 40px;
        height: 40px;
        color: yellow;
        padding-right: 10px;
    }

    .lineText {
        display: flex;
        align-items: center;
    }

    ol {
        list-style-type: none;
    }

    h2 {
        color: aquamarine;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

    img {
        border-radius: 8px;
        width: 760px;
        height: 545px;
    }

    .DiscsAndText {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: start;
        justify-items: start;
    }
</style>
