---
import Cyberbackground from "../../public/cyberpunk2077.png";
import "../style/global.css";
import Banner from "./Banner.astro";
import CyberA from "../../public/Cyber.jpg";
---

<div class="title">
    <div class="background-image">
        <img src={Cyberbackground.src} alt="">
    </div>
    <Banner />
</div>

<style>

img{
    background-repeat: no-repeat;
    width: 100%;

}

.background-image{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../public/Cyber.jpg');
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
}

    .title {
        height: 100%;
        background-color: black;
    }
</style>

<script>
    const images=[
        ,
    ]
</script>
