---
import Cyberbackground from "../../public/cyberpunk2077.png";
import "../style/global.css";
import Banner from "./Banner.astro";
import CyberA from "../../public/Cyber.jpg";
---

<div  class="title">
    <div class="background-image">
    </div>
    <Banner />
</div>

<style>
    div{
        aspect-ratio: 16 / 9;
    }
    img {
        background-repeat: no-repeat;
        width: 100%;
    }

    .background-image {
        
        top: 0;
        left: 0;
        width: 100%;
        background-image: url("../../public/Cyber.jpg");
        background-size: cover;
        background-position: center;
        transition: background-image 1s ease-in-out;
    }

    .title {
        height: 100%;
        background-color: black;
    }
</style>

<script>
    const images = ["Cyber.jpg", "CyberTwo.png", "Cyberthree.jpg","cyberpunk2077.png"];

    let currentIndex = 0;

    // Функция для изменения фонового изображения
    function changeBackgroundImage() {
        document.querySelector(
            ".background-image",
        ).style.backgroundImage = `url(${images[currentIndex]})`;

        currentIndex = (currentIndex + 1) % images.length;
    }

    setInterval(changeBackgroundImage, 4000);
</script>
