---
import CyberLogo from "../../public/logo.png";
---

<body>
    <img src={CyberLogo.src} alt="CyberPunkLogo" />
</body>
<style>
    img {
        width: 230px;
        height: 115px;
    }
</style>
